<div class="w3-container">
  <h2>Home</h2>
  <p>
    The Regoch Web is framework for developing single page, dynamic web applications with the real-time functions.
    It's created in modern Javascript with recent version of ECMAScript, extraordinary simple and intuitive.
    <br>Read the documentation <a href="http://www.regoch.org/web" target="_blank" class="w3-text-blue">here</a>.
  </p>
  <div class="w3-center w3-display-container">
    <img data-rg-src="regochImageURL" class="w3-image w3-border w3-padding" alt="Regoč">
    <p class="w3-display-topmiddle w3-text-sand w3-large">Regoch Works !!!</p>
  </div>
</div>
