<div class="w3-bar w3-light-grey">
  <a href="/" data-rg-href class="w3-bar-item w3-button">Home</a>
  <a href="/page1" data-rg-href class="w3-bar-item w3-button">Page 1</a>
  <div class="w3-dropdown-hover">
    <button class="w3-button">Dropdown <i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a data-rg-href="/" class="w3-bar-item w3-button">Home</a>
      <a href="/page1" data-rg-href class="w3-bar-item w3-button">Page 1</a>
      <a href="/page2" data-rg-href class="w3-bar-item w3-button">Bad Url</a>
      <a href="javascript:void(0)" class="w3-bar-item w3-button">Link 3</a>
    </div>
  </div>
</div>
